<div class="col-3">
    <a href="/newsDetail">
        <div class="card">
        <img
            src="{{image_thumbnail}}"
            class="card-img-top"
            alt="..."
        />
        <div class="card-body">
            <h5 class="card-title text-center">{{title}}</h5>
            <div class="row news-tag">
            <div class="col">
                <p class="p-tag-news">{{Category.category_name}}</p>
            </div>
            <div class="col">
                <p class="p-date-news">{{createDay}}</p>
            </div>
            </div>
        </div>
        </div>
    </a>
</div>
