<div>
    <a href="/newsDetail?id={{id}}">
        <div class="card bg-dark">
            <img src="{{image_thumbnail}}" class="card-img-top img-lifeStyle-small" alt="...">
            <div class="card-body bg-dark">
                <h5 class="card-title text-light text-center">{{title}}</h5>
                <p class="card-text text-light text-center">{{briefDescription}}</p>
            </div>
        </div>
    </a>
</div>