<li class="list-groupitem comment-item">
    <div class="row">
    <div class="col-3">
        <p class="pName">{{User.name}}</p>
    </div>
    <div class="col-9">
        <p class="pComment">{{content}}</p>
        <p class="pTime">{{createDay}}</p>
    </div>
    </div>
</li>