<li>
  <a class="dropdown-item" href="/users/myprofile"><i
      class="bi bi-person-circle"
    ></i>
    Hồ sơ của tôi</a>
</li>
<li>
  <a class="dropdown-item" href="/writer/post"><i
      class="bi bi-file-arrow-up"
    ></i>
    Đăng bài</a>
</li>
<li>
  <a class="dropdown-item" href="/writer/mylist"><i class="bi bi-card-list"></i>
    Danh sách bài đăng</a>
</li>
<li>
  <a class="dropdown-item" href="/users/login"><i
      class="bi bi-box-arrow-left"
    ></i>
    Đăng xuất</a>
</li>