<li>
  <a class="dropdown-item" href="/users/myprofile"><i
      class="bi bi-person-circle"
    ></i>
    Hồ sơ của tôi</a>
</li>

<li>
  <a class="dropdown-item" href="/editor/checkStatus"><i
      class="bi bi-card-list"
    ></i>
    Danh sách thuộc chuyên mục</a>
</li>
<li>
  <a class="dropdown-item" href="/users/login"><i
      class="bi bi-box-arrow-left"
    ></i>
    Đăng xuất</a>
</li>