<div class="dropdown user">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="dropdownIdUser"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="bi bi-person-circle fs-2 ms-5"></i></a>
  <ul class="dropdown-menu me-1" aria-labelledby="dropdownIdUser">
    <li>
      <a class="dropdown-item" href="myprofile.html"><i
          class="bi bi-person-circle"
        ></i>
        Hồ sơ của tôi</a>
    </li>
    <li>
      <a class="dropdown-item" href="post.html"><i
          class="bi bi-file-arrow-up"
        ></i>
        Đăng bài</a>
    </li>
    <li>
      <a class="dropdown-item" href="mylist.html"><i
          class="bi bi-card-list"
        ></i>
        Danh sách bài đăng</a>
    </li>
    <li>
      <a class="dropdown-item" href="update-list.html"><i
          class="bi bi-pencil-square"
        ></i>
        Cập nhật danh sách</a>
    </li>
    <li>
      <a class="dropdown-item" href="index.html"><i
          class="bi bi-box-arrow-left"
        ></i>
        Đăng xuất</a>
    </li>
  </ul>
</div>