<li class="list-groupitem">
    <div class="row align-items-center g-2 category-item">
    <div class="col-7">
        <p class="title-categories text-black" id="title-categories">{{User.name}}</p>
        <a id="expireDate{{id}}">{{expireDay}}</a>
    </div>
    <div class="col-5 button-div">
        <button class="btn btn-success text-light" onclick="extendReader({{id}})">Gia hạn thêm 1 tuần</button>
    </div>
    </div>
</li>