<a href="/newsDetail">
<div class="card text-bg-dark card-category">
    <img src="{{image_thumbnail}}" class="card-img img-background-carousel" alt="...">
    <div class="card-img-overlay">
    
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-7 col-md-0"></div>
        <div class="col-lg-5 col-md-12">
            <p class="card-title card-title-image-carousel text-light">{{title}}</h5>
            <p class="card-text text-light">{{briefDescription}}</p>
            <button type="button" class="btn btn-light">Read more</button>
        </div>
    </div>
    </div>
</div>
</a>