<li class="list-groupitem">
    <a href="/TagPost?id={{id}}">
        <div class="row align-items-center g-2 category-item">
            <div class="col-12">
                <p class="title-categories text-black"id="tag{{id}}">{{tag_name}} </p>
            </div>
        </div>
    </a>
</li>