<!DOCTYPE html>
<html lang="en">
  <head>
    <title>N10</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <iframe
        src="navbar.html"
        width="100%"
        height="60px"
        frameborder="0"
      ></iframe>
    </header>
    <main>
      <div class="container mt-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <div class="card px-3 py-3" id="form3">
              <h3>Fotgot Password</h3>
              <p class="mb-5">Have you forgotten your password? Reset here!</p>
              <div class="form-data text-dark" v-if="!submitted">
                <div class="forms-inputs mb-4">
                  <span id="email-label"
                    >Enter email address and we will send you a OTP code.</span
                  >
                  <input
                    class="w-100"
                    autocomplete="off"
                    type="text"
                    v-model="email"
                    v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}"
                    v-on:blur="emailBlured = true"
                  />
                  <div class="invalid-feedback">A valid email is required!</div>
                </div>

                <div class="mb-3">
                  <button
                    onclick="ChangeText(this)"
                    v-on:click.stop.prevent="submit"
                    class="btn btn-dark w-100"
                  >
                    Send password reset email
                  </button>
                </div>
              </div>
              <div class="success-data" v-else>
                <div class="text-center d-flex flex-column">
                  <i class="bx bxs-badge-check"></i>
                  <span class="text-center fs-1"
                    >You changed your password.</span
                  >
                  <a href="index.html">Return to homepage</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <img
              class="img-thumbnail"
              src="https://t3.ftcdn.net/jpg/01/37/26/32/360_F_137263233_9sEpw5hHFZnwkzX3lULuH56Xmw8tukwt.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="log-in.js"></script>
  </body>
</html>
