<!DOCTYPE html>
<html lang="en">
  <head>
    <title>N10</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $("#header").load("header.html");
        $("#footer").load("footer.html");
      });
    </script>
  </head>

  <body>
    <header><div id="header"></div></header>
    <main>
      <div class="container mt-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <div class="card px-3 py-3" id="form2">
              <h3>Log In</h3>
              <p class="mb-5">
                Please fill your detail to access your account.
              </p>
              <div class="form-data text-dark" v-if="!submitted">
                <div class="forms-inputs mb-4">
                  <span>Email</span>
                  <input
                    class="w-100"
                    autocomplete="off"
                    type="text"
                    v-model="email"
                    v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}"
                    v-on:blur="emailBlured = true"
                  />
                  <div class="invalid-feedback">A valid email is required!</div>
                </div>
                <div class="forms-inputs mb-4">
                  <span>Password</span>
                  <input
                    class="w-100"
                    autocomplete="off"
                    type="password"
                    v-model="password"
                    v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}"
                    v-on:blur="passwordBlured = true"
                  />
                  <div class="invalid-feedback">
                    Password must be 8 character!
                  </div>
                </div>
                <div class="row mb-2 ms-2 text-end text-dark">
                  <a href="forgotpass.html">Forgot Password?</a>
                </div>
                <div class="mb-3">
                  <button
                    v-on:click.stop.prevent="submit"
                    class="btn btn-dark w-100"
                  >
                    Login
                  </button>
                </div>
              </div>
              <div class="success-data" v-else>
                <div class="text-center d-flex flex-column">
                  <i class="bx bxs-badge-check"></i>
                  <span class="text-center fs-1"
                    >You have been logged in <br />
                    Successfully</span
                  >
                </div>
              </div>
              <!-- class="row text-center" -->
              <div class="text-center">
                <span>Don’t have an account?</span>
                <span
                  ><b><a href="sign-up.html" cl>Sign up</a></b></span
                >
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <img
              class="img-thumbnail"
              src="https://i1-vnexpress.vnecdn.net/2019/12/11/doc-bao-3915-1576032105.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=JHB82b3_YgoYmPUPhx_gFg"
              alt=""
            />
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="log-in.js"></script>
  </body>
</html>
