<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <h1>Quản lý</h1>
        <a href="/users/AdminViewAllPost"><p>Xem danh sách bài viết</p></a>
        <a href="/users/AdminManageCategories"><p class="active">Quản lý chuyên mục</p></a>
        <a href="/users/AdminTag"><p>Quản lý nhãn tag</p></a>
        <a href="/users/AdmineditorDetail"><p>Quản lý biên tập viên</p></a>
        <a href="/users/AdminUserManagement"><p>Quản lý người dùng</p></a>
        <a href="/users/admin-addpremium"><p>Gia hạn tài khoản cho độc giả</p></a>
      </div>
      <div class="col-9 left-col">
        <div class="row">
          <div class="col-1">
            <div class="vl"></div>
          </div>
          <div class="col-11">
            <h3>Quản lý chuyên mục</h3>
            <div class="container">
              <div class="row justify-content-center ">
                <div class="col-8">
                  
                </div>
                <div class="col-4 mb-3">
                  <button class="btn btn-primary" onclick="openAdd()">+ Thêm chuyên mục</button>
                  <div class="form-popup" id="addForm">
                    <form action="/users/CategoriesDetail/add" method="post" class="form-container" onsubmit="addItemCategory(event)">
                      <div class="mb-3">
                        <button type="button" onclick="closeAdd()">x</button>
                        <h3 class="text-center">Thêm Chuyên mục</h3>
                        <label for="itemAdd">Nhập tên chuyên mục</label>
                        <input type="text" name="itemAdd" id="itemAdd" aria-describedby="helpId" placeholder="" required/>
                        <button type="submit" onclick="closeAdd()" class="btn btn-primary" >Thêm</button>
                      </div>
                    </form>
                  </div>
                </div>
                
              </div>
              <ul class="list-group" id="myCategory">
                {{#each category}}
                  {{> categoryAdminManage}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="../javascript/AdminManageCategories.js"></script>