  <main>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h1>Quản lý</h1>
                    <a href="/users/AdminViewAllPost"><p>Xem danh sách bài viết</p></a>
                    <a href="/users/AdminManageCategories"><p>Quản lý chuyên mục</p></a>
                    <a href="/users/AdminTag"><p>Quản lý nhãn tag</p></a>
                    <a href="/users/AdmineditorDetail"><p>Quản lý biên tập viên</p></a>
                    <a href="/users/AdminUserManagement"><p  class="active">Quản lý người dùng</p></a>
                  <a href="/users/admin-addpremium"><p>Gia hạn tài khoản cho độc giả</p></a>
                </div>
                <div class="col-9 left-col">
                    <div class="row">
                        <div class="col-1">
                            <div class="vl"></div>
                        </div>
                        <div class="col-11">
                            <h3>Quản lý người dùng</h3>
                            <div class="container">
                                
                                <ul class="list-group" id="myList">
                                    {{#each users}}
                                        {{> userAdminManage}}
                                    {{/each}}
                                </ul>
                              </div>
                        </div>
                        <div class="col-lg-12">
                                    <nav aria-label="Page navigation example" id="pagination">
                                        {{{ createPagination pagination paginationClass="pagination justify-content-center" leftText="Trước" rightText="Sau"}}}
                                    </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script>
    document.querySelectorAll('#pagination li').forEach(li => {
        li.classList.add('page-item');
    });
    document.querySelectorAll('#pagination a').forEach(a => {
        a.classList.add('page-link');
    })
 </script>
 <script src="../javascript/AdminUser.js"></script>