
<main>
  <section class="section">
    <div class="container">
      <div class="title">
        {{#with categoryInfo}}
        {{!-- <a href="#"><span>{{category_name}}</span></a> --}}
        <h2 class="headingh2FeatureNews">{{category_name}}</h2>
        {{/with}}
      </div>
      <!-- row 1 -->

      <div class="row justify-content-between">
        <!-- biggest left news -->
        <div class="col-lg-8 col-sm-12 col-md-12">
          {{#each firstNews}}
          {{> firstFeaturedArticle}}
          {{/each}}
        </div>
        <!-- news 2 -->
        <div class="col-lg-4 rounded-4 col-sm-12 col-md-12 ">
          {{#each secondNews}}
          {{> secondFeaturedArticle}}
          {{/each}}

        </div>
        <!--  end news 2 -->
      </div>
      <!-- carousel news -->
      <div class="row align-items-center product-slider product-slider-4">
          {{#each featureArticle}}
          <div class="col">
              {{> carousel-article2}}
          </div>
          {{/each}}
      </div>
      <!-- carousel end -->
    </div>
  </section>
  <hr />
  <!-- xem nhieu nhat -->
  <section class="section">
    <h2 class="mb-1 mt-1">Xem nhiều nhất</h2>
    <div class="row align-items-center product-slider product-slider-4">
          {{#each mostViewArticle}}
          <div class="col">
              {{> carousel-article2}}
          </div>
          {{/each}}
      </div>
  </section>
  <!-- end xem nhieu nhat -->
  <hr />
  <!-- moi nhat nhat -->
  <section>
    <h2 class="mb-1 mt-1">Tin mới nhất</h2>
    <div class="row">
      <!-- tin -->
      <div class="col-8">
        {{#each newestArticle}}
          {{> mostViewArticle}}
        {{/each}}
      </div>
      <!-- quang cao -->
      <div class="col-4">
        <img src="../images/qc_1.png" alt="" />
      </div>
      <div class="col-lg-12">
        <nav aria-label="Page navigation example" id="pagination">
            {{{ createPagination pagination paginationClass="pagination justify-content-center" leftText="Trước" rightText="Sau"}}}
        </nav>
      </div>
    </div>
  </section>
  
</main>

 <script>
    document.querySelectorAll('#pagination li').forEach(li => {
        li.classList.add('page-item');
    });
    document.querySelectorAll('#pagination a').forEach(a => {
        a.classList.add('page-link');
    })
 </script>

 <script src="../javascript/AdminManageCategories.js"></script>