<main>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h1>Quản lý</h1>
                <a href=""><p>Xem danh sách bài viết</p></a>
                <a href=""><p class="active">Quản lý chuyên mục</p></a>
                <a href=""><p>Quản lý nhãn tag</p></a>
                <a href=""><p>Quản lý biên tập viên</p></a>
                <a href=""><p>Quản lý người dùng</p></a>
            </div>
            {{#with category}}
            <div class="col-9 left-col">
                <div class="row">
                    <div class="col-1">
                        <div class="vl"></div>
                    </div>
                    <div class="col-11">
                        <h3><a href="/admin/AdminManageCategories" class="text-black">Quản lý chuyên mục</a> > {{category_name}}</h3>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-7 h-100">
                                    <div class="mb-3 icon-input">
                                        <i class="bi bi-search icon"></i>
                                        <input
                                        type="text"
                                        class="form-control"
                                        name="keyword"
                                        id="keyword"
                                        aria-describedby="helpId"
                                        placeholder=""
                                        required
                                        onke yup="filter(this.value)"
                                        />
                                    </div>
                                </div>
                                <div class="col-5 h-100">
                                    <button class="btn btn-primary h-100" onclick="openAdd()">+ Thêm chuyên mục con</button>
                                    <div class="form-popup" id="addForm">
                                        <form action="/admin/CategoriesDetail/add" method="post" class="form-container" onsubmit="addItemCategory(event, {{root_category_id}})">
                                            <div class="mb-3">
                                                <button onclick="closeAdd()">x</button>
                                                <h3 class="text-center">Thêm chuyên mục</h3>
                                                <label for="itemAdd">Nhập tên chuyên mục</label>
                                                <input type="text" name="itemAdd" id="itemAdd" aria-describedby="helpId" placeholder="" required>
                                                <button type="submit" onclick="closeAdd()" class="btn btn-primary">Thêm</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group" id="myList">
                                {{#each sub_categories}}
                                    {{> categoryAdminManage}}
                                {{/each}}
                            </ul>
                            </div>
                    </div>
                </div>

            </div>
            {{/with}}
        </div>
    </div>
</main>

<script src="../javascript/AdminManageCategories.js"></script>