<main>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h2>Biên tập viên</h2>
        <a href="/users/EditorProcessed"><p>Đã xử lý</p></a>
        <a href="/users/checkStatus"><p class="active">Chờ Duyệt</p></a>
      </div>
      <div class="col-9 left-col">
        <div class="row">
          <div class="col-1">
            <div class="vl"></div>
          </div>
          <div class="col-11">
            <h3 class="text-black">Các bài viết chờ duyệt</h3>
            <div class="container">
              <div class="row justify-content-center g-2">
                <div class="col">
                  <div class="mb-3 icon-input">
                    <i class="bi bi-search icon"></i>
                    <input type="text" class="form-control" name="keyword" id="keyword" aria-describedby="helpId" placeholder="" required onkeyup="filterEditor(this.value)"/>
                  </div>
                </div>
              </div>
              {{#if hasArticle}}
              <ul class="list-group" id="myList">
                {{#each articles}}
                  {{> postEditorManage}}
                {{/each}}
              </ul>
              {{else}}
              <p class="mt-2">Không có bài viết nào cần duyệt</p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="../javascript/EditorPost.js"></script>
