<main>
    <section class="section">
        <div class="container">
            <h2 class="headingh2FeatureNews">Tin nổi bật</h2>
            <!-- row 1 -->
            <div class="row justify-content-between">
              <!-- biggest left news -->
              <div class="col-lg-8 col-sm-12 col-md-12">
                {{#each firstNews}}
                  {{> firstFeaturedArticle}}
                {{/each}}
              </div>
              <!-- news 2 -->
              <div class="col-lg-4 rounded-4 col-sm-12 col-md-12">
                {{#each secondNews}}
                  {{> secondFeaturedArticle}}
                {{/each}}
              </div>
              <!--  end news 2 -->
            </div>
            {{!--  --}}
            <div class="row align-items-center product-slider product-slider-4">
                {{#each featureArticle}}
                <div class="col-lg-3">
                    {{> carousel-article2}}
                </div>
                {{/each}}
            </div>
        </div>
       </div>

    </section>
    <hr>
    <!-- tin moi nhat -->
    <section class="section">
      <h2 class="mt-1 mb-1">Tin mới nhất</h2>
      <div class="row align-items-center product-slider product-slider-4">
          {{#each newestArticle}}
          <div class="col-lg-3">
              {{> carousel-article2}}
          </div>
          {{/each}}
      </div>
    </section>
    <!-- end tin moi nhat -->
    <hr>
    <!-- xem nhieu nhat -->
    <section>
      <h2 class="mt-1 mb-1">Xem nhiều nhất</h2>
      <div class="row">
        <!-- tin -->
        <div class="col-8">
          {{#each mostViewArticle}}
            {{> mostViewArticle}}
          {{/each}}
        </div>
        <!-- quang cao -->
        <div class="col-4">
          {{#each allCates}}
            {{> categoryNewsCard}}
          {{/each}}
        </div>
      </div>
    </section>
    <hr>
    <!-- end xem nhieu nhat -->
  
</main>
