<main>
    <section class="section">
        <div class="container">
            <h2 class="headingh2FeatureNews">Tin nổi bật</h2>
            <!-- row 1 -->
            <div class="row justify-content-between">
              <!-- biggest left news -->
              <div class="col-lg-8 col-sm-12 col-md-12">
                <a href="/newsDetail">
                <div class="card">
                  <div class="row justify-content-between">
                    <div class="col-lg-6 col-sm-12">
                      <img src="../images/hoaminzy.png" class="img-fluid object-fit-cover" alt="..." >
                    </div>
                    <div class="col-lg-6 col-sm-12 ">
                      <div class="card-body container">
                        <h5 class="card-title">Sao Việt 'bắt trend' Thị Mầu của Hòa Minzy: Nhan sắc nào cũng khiến netizen mê mệt</h5>
                        <p class="card-text">Hòa Minzy đăng clip "biến hình" trên trang TikTok cá nhân với nền nhạc ca khúc Thị Mầu. Trong đoạn clip, cô liên tục thay đổi layout trang điểm từ xấu xí cho đến xinh đẹp. </p>
                        <div class="row">
                          <div class="col">
                            <p class="p-tag-news">Giải trí</p>
                          </div>
                          <div class="col">
                            <p class="p-date-news">18/8/2023</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              </div>
              <!-- news 2 -->
              <div class="col-lg-4 rounded-4 col-sm-12 col-md-12">
                <a href="/newsDetail">
                  <div class="card ">
                    <img src="../images/hoaminzy.png" class="img-fluid " alt="..." >
                    <div class="card-body">
                      <h5 class="card-title">Sao Việt 'bắt trend' Thị Mầu của Hòa Minzy: Nhan sắc nào cũng khiến netizen mê mệt</h5>
                      <div class="row news-tag">
                        <div class="col">
                          <p class="p-tag-news">Giải trí</p>
                        </div>
                        <div class="col">
                          <p class="p-date-news">18/8/2023</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <!--  end news 2 -->
            </div>
            {{!--  --}}
            <div class="row align-items-center product-slider product-slider-4">
                {{#each featuredProducts}}
                <div class="col-lg-3">
                    {{> carousel-article2}}
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    <hr>
    <!-- tin moi nhat -->
    <section class="section">
      <h2>Tin mới nhất</h2>
      <div class="row align-items-center product-slider product-slider-4">
          {{#each featuredProducts}}
          <div class="col-lg-3">
              {{> carousel-article2}}
          </div>
          {{/each}}
      </div>
    </section>
    <!-- end tin moi nhat -->
    <hr>
    <!-- xem nhieu nhat -->
    <section>
      <h2>Xem nhiều nhất</h2>
      <div class="row">
        <!-- tin -->
        <div class="col-8">
          {{#each mostViewArticle}}
            {{> mostViewArticle}}
          {{/each}}
        </div>
        <!-- quang cao -->
        <div class="col-4">
          <img src="../images/qc_1.png" alt="">
          <img src="../images/qc_2.png" alt="">
          <img src="../images/qc_3.png" alt="">
        </div>
      </div>
    </section>
    <hr>
    <!-- end xem nhieu nhat -->
    <section class="section">
      <h2>Thời sự</h2>
      <div class="home-slider">
          <div class="product-slider-single">
            {{#each featuredProducts}}
              {{> slider}}
            {{/each}}
          </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each thoisu3}}
        {{> categoryArticle}}
        {{/each}}
      </div>
    </section>
    <section class="section">
      <h2>Sức khỏe</h2>
      <div class="home-slider">
          <div class="product-slider-single">
            {{#each featuredProducts}}
              {{> slider}}
            {{/each}}
          </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each health3}}
        {{> categoryArticle}}
        {{/each}}
      </div>
    </section>
    <section class="section">
      <h2>Giải trí</h2>
      <div class="home-slider">
          <div class="product-slider-single">
            {{#each featuredProducts}}
              {{> slider}}
            {{/each}}
          </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each entertainment3}}
        {{> categoryArticle}}
        {{/each}}
      </div>
    </section>
</main>
