<main>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div id="login-box" class="card p-4">
          <h1 class="text-center">Đăng nhập</h1>
          <div class="form-group">
            <input
              type="text"
              name="email"
              class="form-control"
              placeholder="E-mail"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Mật khẩu"
            />
          </div>
          <div class="form-group">
            <input
              type="submit"
              name="signup_submit"
              class="btn btn-primary w-100"
              value="Đăng nhập"
            />
          </div>
          <div class="form-group">
            <a href="/google" class="btn btn-danger w-100">Đăng nhập với Google</a>
          </div>
          <div class="">Bạn chưa có tài khoản?
            <a href="/sign-up">Đăng ký</a></div>
        </div>
      </div>

      <div class="col-md-6">
        <img
          class="img-thumbnail"
          src="https://tuyensinhdonga.edu.vn/wp-content/uploads/2021/08/tu-vung-tieng-anh-ve-bao-chi-va-truyen-thong.jpg"
          alt=""
          style="height: 100%; padding-bottom: 20px; padding-top:20px"
        />
      </div>
    </div>
  </div>
</main>