<main>
  <div class="container mt-3">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <form action="/users/login" method="post">

          <div id="login-box" class="card p-4">
            <h3 class="text-center">Đăng nhập</h3>
            <div class="form-group">
              <input
                type="text"
                name="email"
                class="form-control"
                placeholder="E-mail"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Mật khẩu"
              />
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input
                type="checkbox"
                class="custom-control-input"
                id="newaccount"
                name="keepSignedIn"
              />
              <label class="custom-control-label" for="newaccount">Duy trì đăng
                nhập</label>
            </div>
            <div class="form-group">
              <input
                type="submit"
                name="signup_submit"
                class="btn btn-primary w-100"
                value="Đăng nhập"
              />
            </div>
            <div class="form-group">
              <a href="/users/login/google" class="btn btn-danger w-100">Đăng
                nhập với Google</a>
            </div>
            <div class="">Bạn chưa có tài khoản?
              <a href="/users/signup">Đăng ký</a></div>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        <img
          class="img-thumbnail"
          src="https://tuyensinhdonga.edu.vn/wp-content/uploads/2021/08/tu-vung-tieng-anh-ve-bao-chi-va-truyen-thong.jpg"
          alt=""
          style="height: 100%; padding-bottom: 20px; padding-top:20px"
        />
      </div>
    </div>
    {{#if loginMessage}}
      <div class="col md-12">
        <div class="p-3 mt-3 alert alert-warning">{{{loginMessage}}}</div>
      </div>
    {{/if}}
    <input type="hidden" name="reqUrl" value="{{reqUrl}}" />
  </div>
</main>