<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-3 py-5">
        <div class="list-group-flush mt-4">
          <a class="list-group-item active bg-dark" href="/users/mylist">Tất cả</a>
          <a class="list-group-item" href="/users/draft">Chờ duyệt</a>
          <a class="list-group-item" href="/users/approve">Đã được duyệt</a>
          <a class="list-group-item" href="/users/reject">Bị từ chối</a>
        </div>
      </div>
      <div class="col-9 left-col">
        <div class="row">
          <div class="col-1">
            <div class="vl"></div>
          </div>
          <div class="col-11">
            <h3>Tất cả bài viết</h3>
            <div class="container">
                <div class="mb-3 icon-input">
                    <i class="bi bi-search icon"></i>
                    <input type="text" class="form-control" name="keyword" id="keyword" aria-describedby="helpId" placeholder="" value="" required onkeyup="filterPost(this.value)"/>
                </div>
                {{#if hasPost}}
                  <ul class="list-group" id="myPosts">
                    {{#each posts}}
                      {{> postWriterCard }}
                    {{/each}}
                  </ul>
                  <div class="col-lg-12">
                      <nav aria-label="Page navigation example" id="pagination">
                          {{{ createPagination pagination paginationClass="pagination justify-content-center" leftText="Previous" rightText="Next"}}}
                      </nav>
                  </div>
                {{else}}
                  <p>Bạn không có bài viết nào</p>
                {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
    document.querySelectorAll('#pagination li').forEach(li => {
        li.classList.add('page-item');
    });
    document.querySelectorAll('#pagination a').forEach(a => {
        a.classList.add('page-link');
    })
</script>

<script src="../javascript/Writer.js"></script>