<main>
        <section class="section">
            <div class="container">
                <h2 class="headingh2FeatureNews">Tin nổi bật</h2>
                <!-- row 1 -->
                <div class="row justify-content-between">
                  <!-- biggest left news -->
                  <div class="col-lg-8 col-sm-12 col-md-12">
                    <a href="newDetail.html">
                    <div class="card h-100">
                      <div class="row justify-content-between">
                        <div class="col-lg-6 col-sm-12 h-100">
                          <img src="./images/hoaminzy.png" class="img-fluid object-fit-cover" alt="..." style="display: block; height: 100%; width: 100%;">
                        </div>
                        <div class="col-lg-6 col-sm-12 h-100">
                          <div class="card-body container">
                            <h5 class="card-title">Sao Việt 'bắt trend' Thị Mầu của Hòa Minzy: Nhan sắc nào cũng khiến netizen mê mệt</h5>
                            <p class="card-text">Hòa Minzy đăng clip "biến hình" trên trang TikTok cá nhân với nền nhạc ca khúc Thị Mầu. Trong đoạn clip, cô liên tục thay đổi layout trang điểm từ xấu xí cho đến xinh đẹp. </p>
                            <div class="row news-tag">
                              <div class="col">
                                <p class="p-tag-news">Giải trí</p>
                              </div>
                              <div class="col">
                                <p class="p-date-news">18/8/2023</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  </div>
                  <!-- news 2 -->
                  <div class="col-lg-4 rounded-4 col-sm-12 col-md-12">
                    <a href="newDetail.html">
                      <div class="card h-100">
                        <img src="./images/hoaminzy.png" class="img-fluid object-fit-cover" alt="..." style="display: block; height: 100%; width: 100%;">
                        <div class="card-body">
                          <h5 class="card-title">Sao Việt 'bắt trend' Thị Mầu của Hòa Minzy: Nhan sắc nào cũng khiến netizen mê mệt</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!--  end news 2 -->
                </div>
                <!-- carousel news -->
                <div id="carouselExampleIndicators" class="carousel slide container-carousel-news mt-4">
                  <div class="carousel-indicators carousel-indicator-first-new">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <!-- slide 1 -->
                    <div class="carousel-item active">
                      <div class="row justify-content-between align-items-center g-2">
                        <!-- news 1 -->
                        <a href="newDetail.html">
                          <div class="col">
                            <a href="newDetail.html">
                              <div class="card">
                                <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                  <div class="row news-tag">
                                    <div class="col">
                                      <p class="p-tag-news">Giải trí</p>
                                    </div>
                                    <div class="col">
                                      <p class="p-date-news">18/8/2023</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </a>
                        <!-- news 2 -->
                        <div class="col">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- news 3 -->
                        <div class="col">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- news 4 -->
                        <div class="col">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                    </div>
                    <!-- slide 2 -->
                    <div class="carousel-item">
                      <div class="row justify-content-between align-items-center g-2">
                        <!-- news 1 -->
                        <div class="col-3">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- news 2 -->
                        <div class="col-3">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- news 3 -->
                        <div class="col-3">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- news 4 -->
                        <div class="col-3">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- slide 3 -->
                    <div class="carousel-item">
                      <div class="row justify-content-between align-items-center g-2">
                        <!-- news 1 -->
                        <div class="col-3">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- news 2 -->
                        <div class="col-3">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- news 3 -->
                        <div class="col-3">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- news 4 -->
                        <div class="col-3">
                          <a href="newDetail.html">
                            <div class="card">
                              <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                                <div class="row news-tag">
                                  <div class="col">
                                    <p class="p-tag-news">Giải trí</p>
                                  </div>
                                  <div class="col">
                                    <p class="p-date-news">18/8/2023</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <!-- carousel end -->
            </div>
        </section>
        <hr>
        <!-- tin moi nhat -->
        <section class="section">
          <h2>Tin mới nhất</h2>
          <div id="carouselExampleIndicators" class="carousel slide container-carousel-news">
            <div class="carousel-indicators carousel-indicator-first-new">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <!-- slide 1 -->
              <div class="carousel-item active">
                <div class="row justify-content-between align-items-center g-2">
                  <!-- news 1 -->
                  <div class="col">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- news 2 -->
                  <div class="col">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- news 3 -->
                  <div class="col">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- news 4 -->
                  <div class="col">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

              </div>
              <!-- slide 2 -->
              <div class="carousel-item">
                <div class="row justify-content-between align-items-center g-2">
                  <!-- news 1 -->
                  <div class="col-3">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- news 2 -->
                  <div class="col-3">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- news 3 -->
                  <div class="col-3">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- news 4 -->
                  <div class="col-3">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- slide 3 -->
              <div class="carousel-item">
                <div class="row justify-content-between align-items-center g-2">
                  <!-- news 1 -->
                  <div class="col-3">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- news 2 -->
                  <div class="col-3">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- news 3 -->
                  <div class="col-3">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- news 4 -->
                  <div class="col-3">
                    <a href="newDetail.html">
                      <div class="card">
                        <img src="./images/tiepvien.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                          <div class="row news-tag">
                            <div class="col">
                              <p class="p-tag-news">Giải trí</p>
                            </div>
                            <div class="col">
                              <p class="p-date-news">18/8/2023</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
        <!-- end tin moi nhat -->
        <hr>
        <!-- xem nhieu nhat -->
        <section>
          <h2>Xem nhiều nhất</h2>
          <div class="row">
            <!-- tin -->
            <div class="col-8">
              <a href="newDetail.html"></a>
              <div class="card mb-3" >
                <div class="row g-0 align-items-center">
                  <div class="col-md-4">
                    <img src="./images/hoaminzy.png" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row news-tag">
                        <div class="col">
                          <p class="p-tag-news">Giải trí</p>
                        </div>
                        <div class="col">
                          <p class="p-date-news">18/8/2023</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
              <a href="newDetail.html">
              <div class="card mb-3" >
                <div class="row g-0 align-items-center">
                  <div class="col-md-4">
                    <img src="./images/hoaminzy.png" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row news-tag">
                        <div class="col">
                          <p class="p-tag-news">Giải trí</p>
                        </div>
                        <div class="col">
                          <p class="p-date-news">18/8/2023</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
              <a href="newDetail.html">
              <div class="card mb-3" >
                <div class="row g-0 align-items-center">
                  <div class="col-md-4">
                    <img src="./images/hoaminzy.png" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row news-tag">
                        <div class="col">
                          <p class="p-tag-news">Giải trí</p>
                        </div>
                        <div class="col">
                          <p class="p-date-news">18/8/2023</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
              <a href="newDetail.html">
              <div class="card mb-3" >
                <div class="row g-0 align-items-center">
                  <div class="col-md-4">
                    <img src="./images/hoaminzy.png" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row news-tag">
                        <div class="col">
                          <p class="p-tag-news">Giải trí</p>
                        </div>
                        <div class="col">
                          <p class="p-date-news">18/8/2023</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
              <a href="newDetail.html">
              <div class="card mb-3" >
                <div class="row g-0 align-items-center">
                  <div class="col-md-4">
                    <img src="./images/hoaminzy.png" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row news-tag">
                        <div class="col">
                          <p class="p-tag-news">Giải trí</p>
                        </div>
                        <div class="col">
                          <p class="p-date-news">18/8/2023</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
              <a href="newDetail.html">
              <div class="card mb-3" >
                <div class="row g-0 align-items-center">
                  <div class="col-md-4">
                    <img src="./images/hoaminzy.png" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row news-tag">
                        <div class="col">
                          <p class="p-tag-news">Giải trí</p>
                        </div>
                        <div class="col">
                          <p class="p-date-news">18/8/2023</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
              <a href="newDetail.html">
              <div class="card mb-3" >
                <div class="row g-0 align-items-center">
                  <div class="col-md-4">
                    <img src="./images/hoaminzy.png" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row news-tag">
                        <div class="col">
                          <p class="p-tag-news">Giải trí</p>
                        </div>
                        <div class="col">
                          <p class="p-date-news">18/8/2023</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
              <a href="newDetail.html">
              <div class="card mb-3" >
                <div class="row g-0 align-items-center">
                  <div class="col-md-4">
                    <img src="./images/hoaminzy.png" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bắt giữ 4 nữ tiếp viên Vietnam Airlines xách ma túy về Việt Nam</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row news-tag">
                        <div class="col">
                          <p class="p-tag-news">Giải trí</p>
                        </div>
                        <div class="col">
                          <p class="p-date-news">18/8/2023</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </a>
            </div>
            <!-- quang cao -->
            <div class="col-4">
              <img src="./images/qc_1.png" alt="">
              <img src="./images/qc_2.png" alt="">
              <img src="./images/qc_3.png" alt="">
            </div>
          </div>
        </section>
        <hr>
        <!-- end xem nhieu nhat -->
        <section class="section">
          <h2>Entertainment and Lifestyle</h2>
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>          
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <a href="newDetail.html">
                <div class="card text-bg-dark">
                  <img src="./images/coverLifestyle.png" class="card-img img-background-carousel" alt="...">
                  <div class="card-img-overlay">
                    
                    <div class="row justify-content-center align-items-center h-100">
                      <div class="col-lg-7 col-md-0"></div>
                      <div class="col-lg-5 col-md-12">
                          <p class="card-title card-title-image-carousel text-light">"Important success from Mahmut Akay's 'HOME' documentary.."</h5>
                          <p class="card-text text-light">Turkish Cypriot director Mahmut Akay's documentary “Home” was selected as one of the 7 films that won the right to be screened and competed in the Documentary category of the Izmir Short Film Festival,</p>
                          <button type="button" class="btn btn-light">Read more</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <a href="newDetail.html">
                <div class="card text-bg-dark">
                  <img src="./images/coverLifestyle.png" class="card-img img-background-carousel" alt="...">
                  <div class="card-img-overlay">
                    
                    <div class="row justify-content-center align-items-center h-100">
                      <div class="col-lg-7 col-md-0"></div>
                      <div class="col-lg-5 col-md-12">
                          <p class="card-title card-title-image-carousel text-light">"Important success from Mahmut Akay's 'HOME' documentary.."</h5>
                          <p class="card-text text-light">Turkish Cypriot director Mahmut Akay's documentary “Home” was selected as one of the 7 films that won the right to be screened and competed in the Documentary category of the Izmir Short Film Festival,</p>
                          <button type="button" class="btn btn-light">Read more</button>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <a href="newDetail.html">
                <div class="card text-bg-dark">
                  <img src="./images/coverLifestyle.png" class="card-img img-background-carousel" alt="...">
                  <div class="card-img-overlay">
                    
                    <div class="row justify-content-center align-items-center h-100">
                      <div class="col-lg-7 col-md-0"></div>
                      <div class="col-lg-5 col-md-12">
                          <p class="card-title card-title-image-carousel text-light">"Important success from Mahmut Akay's 'HOME' documentary.."</h5>
                          <p class="card-text text-light">Turkish Cypriot director Mahmut Akay's documentary “Home” was selected as one of the 7 films that won the right to be screened and competed in the Documentary category of the Izmir Short Film Festival,</p>
                          <button type="button" class="btn btn-light">Read more</button>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <a href="newDetail.html">
              <div class="card h-100 bg-dark">
                <img src="./images/lifestyleImgSmall.png" class="card-img-top img-lifeStyle-small" alt="...">
                <div class="card-body bg-dark">
                  <h2 class="card-title text-light text-center">Four films by Turkish filmmakers feature at this year’s BFI London Film Festival</h5>
                  <p class="card-text text-light text-center">The British capital’s annual film fest got underway on Wednesday with a star-studded gala for the world premiere of The Harder They Fall featuring Idris Elba....</p>
                </div>
              </div>
            </a>
            </div>
            <div class="col">
              <a href="newDetail.html">
              
              <div class="card h-100 bg-dark">
                <img src="./images/lifestyleImgSmall.png" class="card-img-top img-lifeStyle-small" alt="...">
                <div class="card-body bg-dark">
                  <h2 class="card-title text-light text-center">Four films by Turkish filmmakers feature at this year’s BFI London Film Festival</h5>
                  <p class="card-text text-light text-center">The British capital’s annual film fest got underway on Wednesday with a star-studded gala for the world premiere of The Harder They Fall featuring Idris Elba....</p>
                </div>
              </div>
            </a>

            </div>
            <div class="col">
              <a href="newDetail.html">

              <div class="card h-100 bg-dark">
                <img src="./images/lifestyleImgSmall.png" class="card-img-top img-lifeStyle-small" alt="...">
                <div class="card-body bg-dark">
                  <h2 class="card-title text-light text-center">Four films by Turkish filmmakers feature at this year’s BFI London Film Festival</h5>
                  <p class="card-text text-light text-center">The British capital’s annual film fest got underway on Wednesday with a star-studded gala for the world premiere of The Harder They Fall featuring Idris Elba....</p>
                </div>
                
              </div>
            </a>
            </div>
          </div>
        </section>
    </main>