
<main>
  <section class="section">
    <div class="container">
      <div class="title">
        {{#with TagInfo}}
        {{!-- <a href="#"><span>{{category_name}}</span></a> --}}
        <h2 class="headingh2FeatureNews">{{tag_name}}</h2>
        {{/with}}
      </div>
  <!-- moi nhat nhat -->
  <section>
    <h5>Tin mới nhất</h5>
    <div class="row">
      <!-- tin -->
      <div class="col-8">
        {{#each newestArticle}}
          {{> mostViewArticle}}
        {{/each}}
      </div>
      <!-- quang cao -->
      <div class="col-4">
        <img src="../images/qc_1.png" alt="" />
      </div>
      <div class="col-lg-12">
        <nav aria-label="Page navigation example" id="pagination">
            {{{ createPagination pagination paginationClass="pagination justify-content-center" leftText="Previous" rightText="Next"}}}
        </nav>
      </div>
    </div>
  </section>
  
</main>

 <script>
    document.querySelectorAll('#pagination li').forEach(li => {
        li.classList.add('page-item');
    });
    document.querySelectorAll('#pagination a').forEach(a => {
        a.classList.add('page-link');
    })
 </script>

 <script src="../javascript/AdminManageCategories.js"></script>