<main>
  <div class="container">
    <div class="row">
      <div
        class="col-2"
        style="display: flex; align-items: center; justify-content: center"
      >
        <ul>
          <li>
            <a href=""><p>Duyệt</p></a>
          </li>
          <li>
            <a href=""><p class="active">Chờ Duyệt</p></a>
          </li>
        </ul>
      </div>
      <div class="col-9 left-col">
        <div class="row">
          <div class="col-1">
            <div class="vl"></div>
          </div>
          <div class="col-11">
            <h3 class="text-black">Các bài viết</h3>

            <div class="container">
              <div class="row justify-content-center g-2">
                <div class="col">
                  <div class="mb-3 icon-input">
                    <i class="bi bi-search icon"></i>
                    <input
                      type="text"
                      class="form-control"
                      name="keyword"
                      id="keyword"
                      aria-describedby="helpId"
                      placeholder=""
                      required
                      onkeyup="filter(this.value)"
                    />
                  </div>
                </div>
              </div>
              <ul class="list-group" id="myList">
                <li class="list-groupitem">
                  <div class="row align-items-center g-2 category-item">
                    <div class="col-3">
                      <img
                        src="https://toquoc.mediacdn.vn/zoom/480_300/280518851207290880/2023/3/17/edit-3fb41e90fa4a27147e5b-1679054076628741411824-16790679331601970265469-0-0-420-672-crop-1679067937956366788138.png"
                        class="img-thumbnail img-fluid rounded float-start"
                        alt=""
                        style="width: 100%; height: 100%"
                      />
                    </div>
                    <div class="col-6">
                      <h4>Bắt giữ 4 nữ tiếp viên</h4>
                      <a>Phạm Việt</a>
                      <br />
                      <a>12:30 16/04/2023</a>
                      <br />
                      <p>Hôm qua 14/4, đã bắt được</p>
                    </div>
                    <div class="col-3 button-div">
                      <button
                        class="btn btn-danger text-light"
                        onclick="openEdit1()"
                      >
                        Từ chối
                        <i class="bi bi-pencil"></i>
                      </button>
                      <div
                        class="form-popup"
                        id="rejectform"
                        onsubmit="closeEdit1()"
                      >
                        <form action="" method="post" class="form-container">
                          <button type="button" onclick="closeEdit1()">
                            x
                          </button>
                          <h3 class="text-center">Lí do từ chối</h3>
                          <!-- <p class="text-center">Thời sự</p> -->
                          <label for="reason"><b>Nhập lí do ở đây</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="reason"
                            id="reason"
                            required
                          />
                          <button
                            type="submit"
                            class="btn btn-primary"
                            onclick="closeEdit1()"
                          >
                            Update
                          </button>
                        </form>
                      </div>

                      <button
                        class="btn btn-success text-light"
                        onclick="openEdit()"
                      >
                        Duyệt
                        <i class="bi bi-pencil"></i>
                      </button>
                      <!-- The form -->
                      <div
                        class="form-popup"
                        id="myForm"
                        onsubmit="closeEdit()"
                      >
                        <form action="" method="post" class="form-container">
                          <button type="button" onclick="closeEdit()">
                            x
                          </button>
                          <h3 class="text-center">Cập nhật thông tin</h3>
                          <!-- <p class="text-center">Thời sự</p> -->
                          <label for="categories"><b>Category</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="categories"
                            id="categories"
                            required
                          />
                          <label for="categories"><b>Tag</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="tag"
                            id="tag"
                            required
                          />
                          <label for="categories"><b>Date post</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="categories"
                            id="categories"
                            required
                          />
                          <button
                            type="submit"
                            class="btn btn-primary"
                            onclick="closeEdit()"
                          >
                            Update
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-groupitem">
                  <div class="row align-items-center g-2 category-item">
                    <div class="col-3">
                      <img
                        src="https://toquoc.mediacdn.vn/zoom/480_300/280518851207290880/2023/3/17/edit-3fb41e90fa4a27147e5b-1679054076628741411824-16790679331601970265469-0-0-420-672-crop-1679067937956366788138.png"
                        class="img-thumbnail img-fluid rounded float-start"
                        alt=""
                        style="width: 100%; height: 100%"
                      />
                    </div>
                    <div class="col-6">
                      <h4>Bắt giữ 4 nữ tiếp viên</h4>
                      <a>Phạm Việt</a>
                      <br />
                      <a>12:30 16/04/2023</a>
                      <br />
                      <p>Hôm qua 14/4, đã bắt được</p>
                    </div>
                    <div class="col-3 button-div">
                      <button
                        class="btn btn-danger text-light"
                        onclick="openEdit1()"
                      >
                        Từ chối
                        <i class="bi bi-pencil"></i>
                      </button>
                      <div
                        class="form-popup"
                        id="rejectform"
                        onsubmit="closeEdit1()"
                      >
                        <form action="" method="post" class="form-container">
                          <button type="button" onclick="closeEdit1()">
                            x
                          </button>
                          <h3 class="text-center">Lí do từ chối</h3>
                          <!-- <p class="text-center">Thời sự</p> -->
                          <label for="reason"><b>Nhập lí do ở đây</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="reason"
                            id="reason"
                            required
                          />
                          <button
                            type="submit"
                            class="btn btn-primary"
                            onclick="closeEdit1()"
                          >
                            Update
                          </button>
                        </form>
                      </div>

                      <button
                        class="btn btn-success text-light"
                        onclick="openEdit()"
                      >
                        Duyệt
                        <i class="bi bi-pencil"></i>
                      </button>
                      <!-- The form -->
                      <div
                        class="form-popup"
                        id="myForm"
                        onsubmit="closeEdit()"
                      >
                        <form action="" method="post" class="form-container">
                          <button type="button" onclick="closeEdit()">
                            x
                          </button>
                          <h3 class="text-center">Cập nhật thông tin</h3>
                          <!-- <p class="text-center">Thời sự</p> -->
                          <label for="categories"><b>Category</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="categories"
                            id="categories"
                            required
                          />
                          <label for="categories"><b>Tag</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="tag"
                            id="tag"
                            required
                          />
                          <label for="categories"><b>Date post</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="categories"
                            id="categories"
                            required
                          />
                          <button
                            type="submit"
                            class="btn btn-primary"
                            onclick="closeEdit()"
                          >
                            Update
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="list-groupitem">
                  <div class="row align-items-center g-2 category-item">
                    <div class="col-3">
                      <img
                        src="https://toquoc.mediacdn.vn/zoom/480_300/280518851207290880/2023/3/17/edit-3fb41e90fa4a27147e5b-1679054076628741411824-16790679331601970265469-0-0-420-672-crop-1679067937956366788138.png"
                        class="img-thumbnail img-fluid rounded float-start"
                        alt=""
                        style="width: 100%; height: 100%"
                      />
                    </div>
                    <div class="col-6">
                      <h4>Bắt giữ 4 nữ tiếp viên</h4>
                      <a>Phạm Việt</a>
                      <br />
                      <a>12:30 16/04/2023</a>
                      <br />
                      <p>Hôm qua 14/4, đã bắt được</p>
                    </div>
                    <div class="col-3 button-div">
                      <button
                        class="btn btn-danger text-light"
                        onclick="openEdit1()"
                      >
                        Từ chối
                        <i class="bi bi-pencil"></i>
                      </button>
                      <div
                        class="form-popup"
                        id="rejectform"
                        onsubmit="closeEdit1()"
                      >
                        <form action="" method="post" class="form-container">
                          <button type="button" onclick="closeEdit1()">
                            x
                          </button>
                          <h3 class="text-center">Lí do từ chối</h3>
                          <!-- <p class="text-center">Thời sự</p> -->
                          <label for="reason"><b>Nhập lí do ở đây</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="reason"
                            id="reason"
                            required
                          />
                          <button
                            type="submit"
                            class="btn btn-primary"
                            onclick="closeEdit1()"
                          >
                            Update
                          </button>
                        </form>
                      </div>

                      <button
                        class="btn btn-success text-light"
                        onclick="openEdit()"
                      >
                        Duyệt
                        <i class="bi bi-pencil"></i>
                      </button>
                      <!-- The form -->
                      <div
                        class="form-popup"
                        id="myForm"
                        onsubmit="closeEdit()"
                      >
                        <form action="" method="post" class="form-container">
                          <button type="button" onclick="closeEdit()">
                            x
                          </button>
                          <h3 class="text-center">Cập nhật thông tin</h3>
                          <!-- <p class="text-center">Thời sự</p> -->
                          <label for="categories"><b>Category</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="categories"
                            id="categories"
                            required
                          />
                          <label for="categories"><b>Tag</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="tag"
                            id="tag"
                            required
                          />
                          <label for="categories"><b>Date post</b></label>
                          <input
                            type="text"
                            placeholder=""
                            name="categories"
                            id="categories"
                            required
                          />
                          <button
                            type="submit"
                            class="btn btn-primary"
                            onclick="closeEdit()"
                          >
                            Update
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>