#avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#imagePreview{
  border-radius: 50%;
  cursor: pointer; 
  width: 150px;
  height: 150px;
}
.vertical {
  height: 300px;
  border-left: 2px solid black;
  position: absolute;
  left: 50%;
}

.list-group-item {
  margin-bottom: 10px;
}

.active {
  font-weight: 500;
}

.none-hover {
  pointer-events: none;
}